/* Declaring globals */
* {
    /* background: #142745; */
	background: white;
	font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(90deg, #DDE1ED 0%, #162353 88.02%); */
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
	cursor: pointer;
	outline: none;
    border: none;
}

/* User defined classes */
.flex-alignment {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.desktop {
	display: block;
}
.mobile {
	display: none;
}
@media (max-width: 768px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}